
.background {
    box-sizing: border-box;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.bgtop{
background: rgb(0,120,233);
background: -moz-linear-gradient(180deg, rgba(0,120,233,1) 0%, rgba(65,243,255,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(0,120,233,1) 0%, rgba(65,243,255,1) 100%);
background: linear-gradient(180deg, rgba(0,120,233,1) 0%, rgba(65,243,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0078e9",endColorstr="#41f3ff",GradientType=1);
}


.st0{fill:#C2E3FF;}
.st1{fill:#36E3FF;}
.st2{fill:#0078E9;}

.rt180 {
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}


.usercard:hover {
    text-decoration: none;
  }



  .cardstat {
    font-size: 18px;
    transition: all 0.20s linear;
  }

  /* .cardstat:hover {
    text-shadow: 2px 2px 2px #000000;
  } */

  .centerBlock {
    margin: auto;
  }

  .overlay{
    background: url(https://i.imgur.com/HJMyKem.png) no-repeat ;
    background-size: cover;
  }





