<template id="follow-me-template">
    <style>
        .followme {
            width: 100%;
            padding: 0px 20px 10px;
            border: 1px solid #eee;
            border-radius: 4px;
        }
        .followme > a {
            display: block;
            text-decoration: none;
        }
    </style>
    <div class="followme">
        <h3>Follow me</h3>
        <a href="https://www.facebook.com/siamhtml">facebook</a>
        <a href="https://twitter.com/SuranartN">twitter</a>        
    </div>
</template>