@import url('https://fonts.googleapis.com/css?family=Mitr&display=swap');


html,body{
    font-family: 'Mitr', sans-serif !important;
}
.radiusButton-lg{
    border-radius: 20px !important;
}
.cardradius{
    border-radius: 10px !important;

}
.radiusObj{
    border-radius: 20px  !important;
}
.animated-witdh {

    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }
.rmLink{text-decoration: none !important;}