.tag {
    border-radius:5px;
	cursor:pointer;
	font-size:15px;
    padding:5px 30px;
}

.tag:focus {
    background: rgb(30, 146, 255);
  }


.cardbutton {
    position: absolute;
    right:    0;
    bottom:   0;
    border-radius:10px;
	cursor:pointer;
	font-size:12px;
    padding:0px 30px;
    margin:0px 0px;
}
.input-group{
    width: 300px;
   
}

.form-control{
    border-radius:10px;
}

.search{
    border-radius:10px;
}

.background {
    box-sizing: border-box;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.bgtop{
  background: url(https://i.imgur.com/HJMyKem.png) no-repeat ;
  background-size: cover;
}

