
.bg{
    /* background: rgb(0,120,233);
    background: linear-gradient(180deg, rgba(0,120,233,1) 0%, rgba(0,142,244,1) 52%, rgba(0,212,255,1) 100%); */
    background: url(https://i.imgur.com/mXmiwDV.png) no-repeat ;
    background-size: cover;
}

.cardbg{
    /* background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);  */
    background: rgb(0,120,233);
    background: linear-gradient(180deg, rgba(0,120,233,1) 0%, rgba(0,142,244,1) 52%, rgba(0,212,255,1) 100%);
    
}
.tab{
right:0;
font-size:12px;
height: 20px;
}

