.background {
    box-sizing: border-box;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.st0{fill:#C2E3FF;}
.st1{fill:#36E3FF;}
.st2{fill:#0078E9;}

.rt180 {
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.sshadow {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    /* Similar syntax to box-shadow */
  }
  